/* ----------------------  LOAD FONTS FROM SERVER ------------------------------ */

@font-face {
 font-family: "GrotzecCond-Demibold";
  src: url(https://mediainnovation.camd.northeastern.edu/2021/loveinthetimeofcovid/fonts/GrotzecCond-Demibold3.woff2);
}  

@font-face {
 font-family: "GrotzecCond-DemiboldItalic";
  src: url(https://mediainnovation.camd.northeastern.edu/2021/loveinthetimeofcovid/fonts/GrotzecCond-DemiboldItalic.woff2);
}  

@font-face {
 font-family: "LeJeunePoster-Regular";
  src: url(https://mediainnovation.camd.northeastern.edu/2021/loveinthetimeofcovid/fonts/LeJeunePoster-Regular.otf);
} 

@font-face {
 font-family: "LeJeunePoster-RegularItalic";
  src: url(https://mediainnovation.camd.northeastern.edu/2021/loveinthetimeofcovid/fonts/LeJeunePoster-RegularItalic.otf);
}

/* ----------------------  BASIC CSS FOR MY STORY ------------------------------ */
p{
  color:black;
  font-size: 22px;
  line-height: 30px;
}

img{
  width: 100%;
}

.quote{
  font-size: 20px;
  text-indent: 50px;

}

.byline{
  font-size: 21px;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  color:black;
}


h3.headline{
  font-family: "GrotzecCond-Demibold", "Helvetica", sans-serif;
  }

.caption{
  font: size 16px;
  line-height: 21px;
  color:black;
}

.photogrid{
  display: grid;
  grid-column-gap: 30px;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto;
}

.photogrid2{
  display: grid;
  grid-column-gap: 50px;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
}
.photogrid3{
  display: grid;
  grid-column-gap: auto;
  grid-template-columns: 30px 30px;
  grid-template-rows: auto;
}

@media (max-width:550px){
    .mybody {
    width: 95%;
    margin: 0 auto 0 auto;
    background-color: lightgray;
}
    
    h1.headline{
    color:black;
    font-size: 4em;
    text-align: center;
    font-family: "GrotzecCond-Demibold", "Helvetica", sans-serif;
    position:relative;
    top:33%;
} 
    h2.headline{
    color:black;
    font-size: 1.7em;
    text-align: center;
    font-family: "GrotzecCond-Demibold", "Helvetica", sans-serif;
    position:relative;
    top:20%;
  }   
    
    
}

@media (min-width:551px){
    .mybody {
    width: 70%;
    margin: 0 auto 0 auto;
    background-color: lightgray;
}
    
     h1.headline{
    color:black;
    font-size: 7em;
    text-align: center;
    font-family: "GrotzecCond-Demibold", "Helvetica", sans-serif;
} 
    h2.headline{
    color:black;
    font-size: 3em;
    text-align: center;
    font-family: "GrotzecCond-Demibold", "Helvetica", sans-serif;
  }    
    
}


.background{
background-color:lightsteelblue;
}
.header
{
  position: sticky;
  position: -webkit-sticky;
  top: 0px;
}

.header-background{
  background-image: url();
  width: 100%;
  height: auto;
}

.sticky
{
  position: sticky;
  position: -webkit-sticky;
}

.trends {
  height:450px;
  width:100%;
}

.d
{
  border: top 1px;
}


.pquote {
  float: right;
  width: 200px;
  color:white;
  font-size: 40px;
  line-height: 0.9;
  font-style: italic;
  padding: 13px;
  font-family: "GrotzecCond", "Helvetica", sans-serif;
}

.pquote2{
  float: left;
  width: 200px;
  color: white;
  font-size: 26px;
  line-height: 0.9;
  font-style: italic;
  padding: 13px;
  font-family: "GrotzecCond", "Helvetica", sans-serif;
}

blockquote {
  margin: 0;
}

.pquote p:first-letter {
  font-size: 39px;
  font-weight: bold;
}

.quotebox {
  float: left;
  width: 200px;
  color: #fc0;
  font-size: 12px;
  line-height: 1.2;
  padding-top: auto;
  
  margin: 0 12px 12px 0;
  background: lightgray;
}

.quotebox2 {
  float: right;
  width: 200px;
  color: #fc0;
  font-size: 12px;
  line-height: 1.2;
  padding-top: auto;
  
  margin: 0 12px 12px 0;
  background: lightgray;
}

.quotebox p {
  margin: auto;
}

.quotebox blockquote {
  font-weight: auto;
  padding: auto;
  border-top: auto solid black;
  margin: 0;
  background: lightgray;
}

.quotebox .by {
  padding: 6px;
}

/* Container holding the image and the text */
.container {
  position: relative;
  text-align: center;
  color: white;
}


  /*this how you note things */
  
  /*  Extra small devices - phones less than 550px */
@media (max-width: 550px) { 
  .myresponsivebox {
      background-color: black;
      height:500px;
  }
}
/* Larger than phablet */
@media (min-width: 551px) {
  .myresponsivebox {
      background-color: red;
  }    
}
/* Larger than tablet */
@media (min-width: 750px) {
   .myresponsivebox {
      background-color: green;
  }      
}
/* Larger than desktop */
@media (min-width: 1000px) {
   .myresponsivebox {
      background-color: blue;
  }      
}
/* Larger than Desktop HD */
@media (min-width: 1200px) {
   .myresponsivebox {
      background-color: gold;
  }      
}


div.a {
  text-indent: 30%;
}

body{
	font-size: 20px;
	font-family: sans-serif;
	color: #333;
}
.question{
	font-weight: 600;
}
.answers {
    margin-bottom: 20px;
}
#submit{
	font-family: sans-serif;
	font-size: 20px;
	background-color: #297;
	color: #fff;
	border: 0px;
	border-radius: 3px;
	padding: 20px;
	cursor: pointer;
	margin-bottom: 20px;
}
#submit:hover{
	background-color: #3a8;
}
