/* ----------------------  LOAD FONTS FROM SERVER ------------------------------ */

@font-face {
 font-family: "GrotzecCond-Demibold";
  src: url(https://mediainnovation.camd.northeastern.edu/2021/loveinthetimeofcovid/fonts/GrotzecCond-Demibold3.woff2);
}  

@font-face {
 font-family: "GrotzecCond-DemiboldItalic";
  src: url(https://mediainnovation.camd.northeastern.edu/2021/loveinthetimeofcovid/fonts/GrotzecCond-DemiboldItalic.woff2);
}  

@font-face {
 font-family: "LeJeunePoster-Regular";
  src: url(https://mediainnovation.camd.northeastern.edu/2021/loveinthetimeofcovid/fonts/LeJeunePoster-Regular.otf);
} 

@font-face {
 font-family: "LeJeunePoster-RegularItalic";
  src: url(https://mediainnovation.camd.northeastern.edu/2021/loveinthetimeofcovid/fonts/LeJeunePoster-RegularItalic.otf);
}

/* ----------------------  BASIC CSS FOR MY STORY ------------------------------ */

/*.header1{
  position:sticky;
  position: -webkit-sticky;
  top: 0px;
}*/

#container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header{
  padding-top: 200px;
  width: 100%;
  background-image: url(../images/Draft5.jpg);
  height: 600px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 200px;
  position: relative;
  text-align: center;
  color: white;
  font-family: "GrotzecCond-Demibold", "Helvetica", sans-serif;
  text-shadow: 2px 2px black;
  font-size: 60px;
  line-height: 200%
}

.byline{
  font-size: 30px;
  text-transform:uppercase;
  letter-spacing: 1px;
  text-align: center;
  color: white;
}

.text {
  font-family:Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 1.8;
  padding-left: 25%;
  padding-right: 25%;
  }

#introduction{
  padding-top: 50px;
  padding-bottom: 50px;
}

#introduction a:link{
  color: hsl(205, 86, 57);
}

#part1{
  padding-bottom: 50px;
}

#part1 a:link{
  color: hsl(205, 86, 57);
}

.figcaption a:link {
  color: hsl(205, 86, 57);
}

a:link{
  color: hsl(205, 86, 57);
}


a:hover{
  text-decoration: underline;
  color:  hsl(328, 92, 55);
  }


#Fig2{
  justify-content: center;
  padding-left: 15%;
  padding-right: 15%;
}

p{
  color: black;
  font-size: 18px;
  list-style: height 21px;
  padding-top: 2%;
  padding-bottom: 2%;
}

#Fig4, #Fig5{
  padding-left: 25%;
  padding-right: 25%;
}

#Fig6{
  flex: 1 0 10%;
  display: flex;
  flex-direction: row;
  padding-left:25%;
  padding-right: 25%;
  padding-top: 3%;
}

#left6{
  flex: 1 0 50%;
  padding-right: 3%;
}

#right6{
  flex: 1 0 50%;
  padding-left: 3%;
}

#Fig7{
  flex: 1 0 10%;
  display: flex;
  flex-direction: row;
  padding-left: 25%;
  padding-right: 25%;
}

#Fig7Total{
  padding-bottom: 5%;
  padding-top: 5%;
}

#left7{
  flex: 1 0 50%;
  padding-right: 3%;
}

#right7{
  flex: 1 0 50%;
  padding-left: 3%;
}

img{
      display:block;
      margin-left:auto;
      margin-right:auto;
      text-align:center;
      padding-top: 50;
  }
  
figcaption{
  display:block; 
  text-align: center; 
  padding-left: 25%;
  padding-right: 25%;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 14px;
  padding-top: 2%;
  padding-bottom: 2%;
}

aside.pquote1 blockquote p{
  font-size: 30px;
  float: left;
  width: 300px;
  padding-right: 20px;
  line-height: 30px;
  text-align: left;
  color: hsl(328, 92, 55);
  font-style: italic;
}

.pquote1 p:first-letter {
  font-size: 50px;
  font-weight: bold;
  color: hsl(328, 92, 55);
}

aside.pquote2 blockquote p{
  font-size: 30px;
  float: left;
  width: 300px;
  padding-right: 15px;
  line-height: 30px;
  text-align: left;
  color: hsl(205, 86, 57);
  font-style: italic;
}

.pquote2 p:first-letter {
  font-size: 50px;
  font-weight: bold;
}



/*
 * Black bar with logo
 */

.essential-nav {   
    background-color: black;
    height: 55px;
    background-image: url("../images/love-in-the-time-of-covid-logo.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 48px;
}

#menuToggle
{
  display: block;
  position: relative;
  top: 18px;
  left: 20px;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #cdcdcd;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}


#menu
{
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  
  background: #ededed;
    opacity: 0.9;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
    padding: 10px 0;
    margin-bottom: 10px;
    border-bottom: solid 1px white;

}

#menu a {
      padding: 10px 0;
    font-size: 15px;
    line-height: 16px;
    font-family: "GrotzecCond-Demibold","Helvetica",sans-serif;
}

#menu span {
    font-size: 13px;
    display: inline;
    font-family: "GrotzecCond-Demibold","Helvetica",sans-serif;
    padding: 1px 3px;
    color:white;
    background-color: #d3222a;
      border-radius: 0px;


}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: none;
}

.essential-nav ul a:link li {
    font-family: "GrotzecCond-Demibold","Impact",sans-serif;
    font-size: 2em;
    line-height: 28px;
    text-transform: uppercase;
}

.essential-nav ul a:hover li {
    color:#24608D;
}
