/* ----------------------  LOAD FONTS FROM SERVER ------------------------------ */

@font-face {
 font-family: "GrotzecCond-Demibold";
  src: url(https://mediainnovation.camd.northeastern.edu/2021/loveinthetimeofcovid/fonts/GrotzecCond-Demibold3.woff2);
}  

@font-face {
 font-family: "GrotzecCond-DemiboldItalic";
  src: url(https://mediainnovation.camd.northeastern.edu/2021/loveinthetimeofcovid/fonts/GrotzecCond-DemiboldItalic.woff2);
}  

@font-face {
 font-family: "LeJeunePoster-Regular";
  src: url(https://mediainnovation.camd.northeastern.edu/2021/loveinthetimeofcovid/fonts/LeJeunePoster-Regular.otf);
} 

@font-face {
 font-family: "LeJeunePoster-RegularItalic";
  src: url(https://mediainnovation.camd.northeastern.edu/2021/loveinthetimeofcovid/fonts/LeJeunePoster-RegularItalic.otf);
}

/* ----------------------  BASIC CSS FOR MY STORY ------------------------------ */

html {
  background-color: #19513f;
  scroll-behavior: smooth;
}

body {
  padding-left: 20px;
  padding-right: 30px;
  padding-bottom: 25px;
}

p {
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 16px;
  color: rgb(18, 16, 16);
  line-height: 28px;
  font-weight: 300px;
  text-align: left;
  letter-spacing: 1px;
}

.firstcharacter {
  color: #333333;
  float: left;
  font-family: "Helvetica", "Georgia", sans-serif;
  font-size: 75px;
  line-height: 60px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
}

@media(max-width:550px) {
  #onlyfanspic {
    width:100%;
    margin-bottom:10px;
  }
}

@media(min-width:551px) {
  #onlyfanspic {
    float: right;
    width:50%;
    margin-left:20px;
    margin-bottom:10px;
    margin-right:5px;
  }
}

.social img {
  width: 40px;
  float: left;
  margin-left: 10px;
}

.deck {
  font-family: "GrotzecCond-Demibold", "Helvetica", sans-serif;
  font-size: 28px;
}

.byline {
  font-size: 24px;
    line-height: 20px;
  letter-spacing: 1px;
  text-align: left;
  font-family: "GrotzecCond-Demibold", "Helvetica", sans-serif;
  color: rgb(135, 135, 135);
}

.subhead {
  font-family: "GrtozecCond-Demibold", "Helvetica", sans-serif;
  font-size: 40px;
  color: black;
}

figcaption {
  font-size: 15px;
  text-align: center;
  padding-left: 20x;
  padding-right: 25px;
}

.row {
  display: flex;
}

.column {
  flex: 50%;
  padding: 1px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.flourish.credit {
  padding: 25px;
}

a:link, a:visited {
  text-decoration: none;
  color: seagreen
}

a:hover {
  text-decoration: underline;
  color: rgb(146, 181, 231);
}

.datavis {
  width: 100%;
  margin: 0 auto 0 auto;
  padding-top: 20px;
  padding-bottom: 30px; 
}

.photo {
  padding: 50px;
}

.heroimage {
  width:100%;
  height:700px;
  background-image: url("../images/Headline_Photo.png");
  background-color: #19513f;
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
}

@keyframes fadein {
  from {opacity: 0;  }
  to {opacity: 1.0; }
}

@media (max-width:550px){
.heroimage h1 {
  text-align: center;
  font-family: "GrotzecCond-Demibold","Helvetica",serif;
  font-size: 8vw;
  color:white;
  text-shadow: 3px 3px black;
  position: relative;
  top: 35%;
  padding: 40px;
  animation-name: fadein;
  animation-duration: 2s;
}

.heroimage h2 {
  text-align: center;
  font-family: "GrotzecCond-Demibold","Helvetica",serif;
  font-size: 4vw;
  color:white;
  text-shadow: 2px 2px black;
  top: 65%;
  padding-top: 190px;
  padding-left: 25px;
  padding-right: 25px;
  opacity: 0;
  animation-name: fadein;
  animation-delay: 2s;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}
}

@media (min-width:551px){
.heroimage h1 {
  text-align: center;
  font-family: "GrotzecCond-Demibold","Helvetica",serif;
  font-size: 5vw;
  color:white;
  text-shadow: 3px 3px black;
  position: relative;
  top: 35%;
  padding: 40px;
  animation-name: fadein;
  animation-duration: 2s;
}

.heroimage h2 {
  text-align: center;
  font-family: "GrotzecCond-Demibold","Helvetica",serif;
  font-size: 2vw;
  color:white;
  text-shadow: 2px 2px black;
  top: 65%;
  padding-top: 190px;
  padding-left: 25px;
  padding-right: 25px;
  opacity: 0;
  animation-name: fadein;
  animation-delay: 2s;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}
}

.heroimage p {
  text-align: center;
  font-family: "GrotzecCond-Demibold","Helvetica",serif;
  font-size: 1.5vw;
  color:white;
  text-transform: uppercase;
  text-shadow: 2px 2px black;
  top: 80%;
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
  line-height: 50px;
  opacity: 0;
  animation-name: fadein;
  animation-delay: 4s;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@media (max-width:550px){
.heroimage button {
  width:60%;
  height:60px;
  font-family: "Helvetica",sans-serif;
  color: white;
  background-color: black;
  font-weight: 600;
  font-size: 3.5vw;
  text-align: center;
}
}

@media (min-width:550px){
.heroimage button {
  width:20%;
  height:60px;
  font-family: "Helvetica",sans-serif;
  color: white;
  background-color: black;
  font-weight: 600;
  font-size: 2vw;
  text-align: center;
}
}

p#hiddentype {
  font-size: 1.3em;
  line-height: 1.5em;
  display: none; /* Sets the default to hide the type */
}

#ChapterOne {
  display: none;
  padding-top: 30px;
  padding-bottom: 40px;
}

#ChapterTwo {
  display: none;
  padding-top: 10px;
  padding-bottom: 40px;
}

#ChapterThree {
  display: none;
  padding-top: 10px;
  padding-bottom: 40px;
}

#ChapterFour {
  display: none;
  padding-top: 10px;
  padding-bottom: 40px;
}

#ChapterFive {
  display: none;
  padding-top: 10px;
  padding-bottom: 40px;
}

#ChapterSix {
  display: none;
  padding-top: 10px;
  padding-bottom: 40px;
}

#ChapterSeven {
  display: none;
  padding-top: 10px;
  padding-bottom: 40px;
}

#ChapterEight {
  display: none;
  padding-top: 10px;
  padding-bottom: 40px;
}

#Epilogue {
  display: none;
  padding-top: 10px;
  padding-bottom: 40px;
}

.btn-group {
  width: 100%;
  text-align: center;
  padding-bottom: 30px;
  margin-left: 2px;
}

.button {
  display: inline-block;
}

.btn-group .button {
    width:15.5%;
    margin-right: 1%;
    height:61px;
  background-color: #333; /* Green */
  border: 1px solid black;
  color: white;
  padding: 14px 0;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  cursor: pointer;
  float: left;
}

.btn-group .nextchapter{
  background-color: #2b8c6d; /* Green */
  border: 1px solid black;
  color: white;
  padding: 14px 0;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  cursor: pointer;
  float: left;
}

@media (max-width:550px){
span.hidemobile {
    display:none; /* HIDE "CHAPTER" TEXT ON MOBILE */
}
}

@media (min-width:551px){
span.hidemobile {
    display:block;
}
}

.btn-group .button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

.btn-group .button:hover {
  background-color: black;
}

.heroimage button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.heroimage button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.heroimage button:hover span {
  padding-right: 25px;
}

.heroimage button:hover span:after {
  opacity: 1;
  right: 0;
}

.lastp {
  padding-bottom: 30px;
}

/*  Extra small devices - phones less than 550px */
@media (max-width: 550px) { 
  .mybody {
    width: 96%;
    margin: 0 2% 0 2%;
    background-color: rgb(255, 255, 255);
    padding-top: 0px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 0px;
  }
}

/* Larger than tablet */
@media (min-width: 551px) {
  .mybody {
    width: 70%;
    margin: 0 auto 0 auto;
    background-color: rgb(255, 255, 255);
    padding-top: 0px;
    padding-left: 40px;
    padding-right: 45px;
    padding-bottom: 0px;
  }   
}

.btn-group .buttonactive {
  background-color: #333;
  border: 1px solid black;
  opacity: 0.6;
  color: white;
  padding: 14px 0;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  cursor: pointer;
  float: left;
}