/* ----------------------  LOAD FONTS FROM SERVER ------------------------------ */

@font-face {
 font-family: "GrotzecCond-Demibold";
  src: url(https://mediainnovation.camd.northeastern.edu/2021/loveinthetimeofcovid/fonts/GrotzecCond-Demibold3.woff2);
}  

@font-face {
 font-family: "GrotzecCond-DemiboldItalic";
  src: url(https://mediainnovation.camd.northeastern.edu/2021/loveinthetimeofcovid/fonts/GrotzecCond-DemiboldItalic.woff2);
}  

@font-face {
 font-family: "LeJeunePoster-Regular";
  src: url(https://mediainnovation.camd.northeastern.edu/2021/loveinthetimeofcovid/fonts/LeJeunePoster-Regular.otf);
} 

@font-face {
 font-family: "LeJeunePoster-RegularItalic";
  src: url(https://mediainnovation.camd.northeastern.edu/2021/loveinthetimeofcovid/fonts/LeJeunePoster-RegularItalic.otf);
}

/* ----------------------  BASIC CSS FOR MY STORY ------------------------------ */

p{

    color: rgb(0, 0, 0);
    font-size: 19px;
    line-height: 21px 
}
.first-letter {
  color: darkmagenta;
  font-size: 80px;
  line-height: 60px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
}

}


.byline {
  color: rgb(51, 51, 51);
  font-size: 21px;
  letter-spacing: 1px; }

  .headline {
  font-size: 7em;
  text-align: center;
  font-family: "GrotzecCond-Demibold","Helvetica", sans-serif; }
  
  h2.headline {

  font-size: 3em;
  color: rgb(0, 0, 0);
  }

  figure.social-media-photos img {width: 32.5%;}
  
  .graphs2  {display: grid;
  grid-template-columns: 50% 50%;}
  
.graphs2 img {width: 100%;}


/* --------------------- MY STYLES ------------------------ */
.photogrid  {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 30px;
  grid-template-rows: auto 100px;

}
  

.mybody {
  width:70%;
  margin:0 auto 0 auto;
  background-color:rgb(255, 255, 255);
  padding:50px;
}

