<html>
<head>
    <link rel="stylesheet" type="text/css" href="css/button-click-reveal.css">

</head>
<body>


<div class="mybody">   
    <button onclick="typeAppears()">What to do in the park</button> 
    
    <p id="hiddentype">Even as interest in national parks has exploded and the area has become a destination for artists and musicians, somehow, Joshua Tree still feels like a hidden getaway. It's got that rugged, High Desert charm mixed with a mystical vibe. Just 128 miles East of Los Angeles up into the high elevations of the Mojave Desert, J-Tree is the kind of place where you can plan to go for a weekend and end up buying a cabin. That's how it happens for most of the arty types who live out there, like the late Noah Purifoy, who built an impressive sculpture garden, or Andrea Zittel, who has been doing the mostly annual art event High Desert Test Sites since 2002.</p>
    </div>

<script>
function typeAppears() {
  document.getElementById("hiddentype").style.display = "block";
}
</script>


</body>
</html>