/* ----------------------  LOAD FONTS FROM SERVER ------------------------------ */

@font-face {
 font-family: "GrotzecCond-Demibold";
  src: url(https://mediainnovation.camd.northeastern.edu/2021/loveinthetimeofcovid/fonts/GrotzecCond-Demibold3.woff2);
}  

@font-face {
 font-family: "GrotzecCond-DemiboldItalic";
  src: url(https://mediainnovation.camd.northeastern.edu/2021/loveinthetimeofcovid/fonts/GrotzecCond-DemiboldItalic.woff2);
}  

@font-face {
 font-family: "LeJeunePoster-Regular";
  src: url(https://mediainnovation.camd.northeastern.edu/2021/loveinthetimeofcovid/fonts/LeJeunePoster-Regular.otf);
} 

@font-face {
 font-family: "LeJeunePoster-RegularItalic";
  src: url(https://mediainnovation.camd.northeastern.edu/2021/loveinthetimeofcovid/fonts/LeJeunePoster-RegularItalic.otf);
}

/* ----------------------  BASIC CSS FOR MY STORY ------------------------------ */


                                                            /* LINK FORMATTING */ 

/* unvisited link */
a:link {
  color: hotpink;
}

/* visited link */
a:visited {
  color:hotpink;
}

/* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color:hotpink;
}

                                                                /* START CODE */ 
      
 .mybody {
    width: 30%; 
    margin: 0 auto 0 auto; 
    background-color: white;  
    padding: 50px;
    text-align: left;
    border-left: black;
    border-right: black;
  }
  
.mybodywide { 
  width: 60%;
  margin: 0 auto 0 auto;
}

/*@media (max-width:750px){
.headimage {
  width: 100%;
}
}*/

@media (min-width:751px){
.headimage {
  width: 60%;
    margin: 0 auto;
}
}

img {
  width: 100%;
  height: auto;
  float: center;
}


.headline {
  width: 100%; 
  font-size: 30px;
  text-align: left;
  font-family: "GrotzecCond-Demibold", "Helvetica", sans-serif;
}

.byline{
  width: 70%  
  font-size: 10px;
    text-align: center;
}

.photogrid {
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 10 px; 
  grid-template-rows: auto;
}

.caption {
  font-size: 11px;
  line-height: 0.9;
  font-style: italic;
  padding: 2px;
}

.photogridchart {
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 10 px; 
  grid-template-rows: auto;
}

.pquote {
  float: center;
  width: 400px;
  color: #00aced;
  font-size: 26px;
  line-height: 0.9;
  font-style: italic;
  font-weight: bold;
  padding: 2px;
}


                                                            /* MOBILE CODE MY BODY */  


/*  Extra small devices - phones less than 550px */
@media (max-width: 550px) { 
  .mybody {
    width: 80%; 
    margin: 0 auto 0 auto; 
    background-color: white;
    padding: 50px;
    text-align: left;
    border-left: black;
    border-right: black;
  }
}

/* Larger than phablet */
@media (min-width: 551px) {
  .mybody {
    width: 30%; 
    margin: 0 auto 0 auto; 
    background-color: white;
    padding: 50px;
    text-align: left;
    border-left: black;
    border-right: black;
  }    
}

/* Larger than tablet */
@media (min-width: 750px) {
  .mybody {
    width: 30%; 
    margin: 0 auto 0 auto; 
    background-color: white;
    padding: 50px;
    text-align: left;
    border-left: black;
    border-right: black;
  }      
}

/* Larger than desktop */
@media (min-width: 1000px) {
  .mybody {
    width: 30%; 
    margin: 0 auto 0 auto; 
    background-color: white;
    padding: 50px;
    text-align: left;
    border-left: black;
    border-right: black;
  }      
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {
  .mybody {
    width: 30%; 
    margin: 0 auto 0 auto; 
    background-color: white;
    padding: 50px;
    text-align: left;
    border-left: black;
    border-right: black;
  }      
}

                                                          /* CODE FOR MY BODY WIDE */ 

/*  Extra small devices - phones less than 550px */
@media (max-width: 550px) { 
  .mybodywide { 
    width: 80%;
    margin: 0 auto 0 auto;
  }
}
/* Larger than phablet */
@media (min-width: 551px) {
  .mybodywide { 
    width: 90%;
    margin: 0 auto 0 auto;
  }    
}
/* Larger than tablet */
@media (min-width: 750px) {
  .mybodywide { 
    width: 60%;
    margin: 0 auto 0 auto;
  }      
}
/* Larger than desktop */
@media (min-width: 1000px) {
  .mybodywide { 
    width: 90%;
    margin: 0 auto 0 auto;
  }      
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {
  .mybodywide { 
    width: 60%;
    margin: 0 auto 0 auto;
  }      
}

                                                          /* CODE FOR PULL QUOTES */

/*  Extra small devices - phones less than 550px */
@media (max-width: 550px) { 
  .pquote {
    float: center;
    width: 250px;
    color: #00aced;
    font-size: 20px;
    line-height: 0.9;
    font-style: italic;
    font-weight: bold;
    padding: 0px;
  }
}
/* Larger than phablet */
@media (min-width: 551px) {
  .pquote {
    float: center;
    width: 400px;
    color: #00aced;
    font-size: 26px;
    line-height: 0.9;
    font-style: italic;
    font-weight: bold;
    padding: 0px;
  }    
}

/* Larger than tablet */
@media (min-width: 750px) {
  .pquote {
    float: center;
    width: 400px;
    color: #00aced;
    font-size: 26px;
    line-height: 0.9;
    font-style: italic;
    font-weight: bold;
    padding: 2px;
  }
}

/* Larger than desktop */
@media (min-width: 1000px) {
  .pquote {
    float: center;
    width: 400px;
    color: #00aced;
    font-size: 26px;
    line-height: 0.9;
    font-style: italic;
    font-weight: bold;
    padding: 2px;
  }  
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {
  .pquote {
    float: center;
    width: 400px;
    color: #00aced;
    font-size: 26px;
    line-height: 0.9;
    font-style: italic;
    font-weight: bold;
    padding: 2px;
  }
}

/* CODE FOR HEADER IMAGE */ 

/*  Extra small devices - phones less than 550px */
@media (max-width: 550px) { 
  .imghead {
    width: 100%;
    height: auto;
    float: center;
  }
}
/* Larger than phablet */
@media (min-width: 551px) {
  .imghead {
    width: 100%;
    height: auto;
    float: center;
  } 
}

/* Larger than tablet */
@media (min-width: 750px) {
  .imghead {
    width: 100%;
    height: auto;
    float: center;
  }
}

/* Larger than desktop */
@media (min-width: 1000px) {
  .imghead {
    width: 100%;
    height: auto;
    float: center;
  }
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {
  .imghead {
    width: 100%;
    height: auto;
    float: center;
  }
}

#menuToggle {
  width: 100px;
}

                                                  /* SOCIAL ICONS */ 


/* Style all font awesome icons */

.socialicons {
  float: center;
  margin: auto auto auto auto; 
}

.fa {
  padding: 0px;
  font-size: 20px;
  width: 40px;
  text-align: center;
  text-decoration: none;
  float: center;
  margin: 0 auto 0 auto; 
}

.fa:hover {
  opacity: 0.7;
}

/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
  float: center;
}

/* Twitter */
.fa-twitter {
  background: #55ACEE;
  color: white;
  float: center;
}

.fa-linkedin {
  background:#2867B2; 
  color: white;
  float: center;
}

.fa-instagram { 
  background: #405DE6; 
  color: white;
  float: center;
}

