/* ----------------------  LOAD FONTS FROM SERVER ------------------------------ */

@font-face {
 font-family: "GrotzecCond-Demibold";
  src: url(https://mediainnovation.camd.northeastern.edu/2021/loveinthetimeofcovid/fonts/GrotzecCond-Demibold3.woff2);
}  

@font-face {
 font-family: "GrotzecCond-DemiboldItalic";
  src: url(https://mediainnovation.camd.northeastern.edu/2021/loveinthetimeofcovid/fonts/GrotzecCond-DemiboldItalic.woff2);
}  

@font-face {
 font-family: "LeJeunePoster-Regular";
  src: url(https://mediainnovation.camd.northeastern.edu/2021/loveinthetimeofcovid/fonts/LeJeunePoster-Regular.otf);
} 

@font-face {
 font-family: "LeJeunePoster-RegularItalic";
  src: url(https://mediainnovation.camd.northeastern.edu/2021/loveinthetimeofcovid/fonts/LeJeunePoster-RegularItalic.otf);
}

/* ----------------------  HAMBURGER NAV and MENU --------------------------- */

a
{
  text-decoration: none;
  color: #232323;
  
  transition: color 0.3s ease;
}

a:hover
{
  color: #d3222a;
}

/*
 * Black bar with logo
 */

.essential-nav {   
    background-color: black;
    height: 55px;
    background-image: url("../images/love-in-the-time-of-covid-logo.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 40px;
}

#menuToggle
{
  display: block;
  position: relative;
  top: 18px;
  left: 20px;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 23px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #cdcdcd;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 20%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}


#menu
{
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  
  background: #ededed;
    opacity: 0.9;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
    padding: 10px 0;
    margin-bottom: 10px;
    border-bottom: solid 1px white;

}

#menu a {
      padding: 10px 0;
    font-size: 15px;
    line-height: 16px;
    font-family: "GrotzecCond-Demibold","Helvetica",sans-serif;
}

#menu span {
    font-size: 13px;
    display: inline;
    font-family: "GrotzecCond-Demibold","Helvetica",sans-serif;
    padding: 1px 3px;
    color:white;
    background-color: #d3222a;
      border-radius: 0px;


}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: none;
}

.essential-nav ul a:link li {
    font-family: "GrotzecCond-Demibold","Impact",sans-serif;
    font-size: 2em;
    line-height: 28px;
    text-transform: uppercase;
}

.essential-nav ul a:hover li {
    color:#24608D;
}


/* --------------------- TYPOGRAPHY ----------------------------- */

@media (max-width:650px){
.teaserbox {
    display:block;
    width: 90%;
    margin: 0 auto;
    border-bottom: 1px black solid;
    padding-bottom: 60px;
    }
}

@media (min-width:651px){
.teaserbox {
    display:grid;
    grid-template-columns: 50% 50%;
    width: 646px;
    margin: 30px auto;
    }
}

@media (max-width:650px){
.teaserheader {
    font-family: "GrotzecCond-Demibold","Helvetica",sans-serif;
    font-size: 2.5em;
    line-height: 35px;
    text-transform: uppercase;
    text-align: center;
    padding: 40px;
    position:relative;
    top:30px;
    }
}

@media (min-width:651px){
.teaserheader {
    font-family: "GrotzecCond-Demibold","Helvetica",sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-size: 3.1em;
    line-height: 42px;
    position:relative;
    top:30px;
    padding: 0 40px;
    }
}

p.byline {
    padding: 0 40px;
    font-family: "GrotzecCond-Demibold","Helvetica",sans-serif;
    font-size: 1em;
    text-align: center;
    
}

.teaseritem {
    height: 323px;
    background-image:linear-gradient(to bottom right, #fb0493,#ffe787,#ffe787, #ededed);
}

a:link .teaseritem img {
    width: 100%;
}

a:visited .teaseritem img {
    width: 100%;
}

a:hover .teaseritem img {
    width: 100%;
    opacity:0.5;
}

a:active .teaseritem img {
    width: 100%;
    opacity:1.0;
}

h5 img 
{width:300px}